<nav
  class="navbar navbar-expand-lg navbar navbar-dark bg-primary"
  style="background-color: #e3f2fd"
>
  <a class="navbar-brand" href="#">NodeRED Demo (Mock Mobile Screen)</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#"
        >Home <span class="sr-only">(current)</span></a
      >
      <!-- <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
    </div>
  </div>
</nav>
<div class="container">
  <div class="row mt-5">
    <table class="table">
      <thead class="thead-dark">
        <tr class="text-center">
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Brand</th>
          <th scope="col">Location</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let device of listOfDevices; let i = index"
          class="text-center"
        >
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ device.name }}</td>
          <td>{{ device.type.toUpperCase() }}</td>
          <td>{{ device.brand.toUpperCase() }}</td>
          <td>{{ device.floor }}</td>
          <td class="text-center">
            <button class="btn btn-success" type="button" (click)="updateDevice(device)">
              Update
            </button> &nbsp;

            <button class="btn btn-info" type="button" (click)="viewDetails(device.id, device)">
              View
            </button>
            <!-- <button
              type="button"
              class="btn btn-primary"
              *ngIf="!device.onState"
              (click)="onSwitchOn(device.id, device)"
            >
              Switch On
            </button>
            &nbsp;
            {{device.onState}}
            <button
              type="button"
              class="btn btn-secondary"
              *ngIf="device.onState"
              (click)="onSwitchOff(device.id, device)"
            >
              Switch Off
            </button>
            &nbsp;
            <button
              type="button"
              class="btn btn-success"
              *ngIf="device.type != 'light'"
              (click)="onTempDown(device.id, device)"
            >
              Down Temp
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-arrow-down"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"
                />
              </svg>
            </button>
            &nbsp;
            <button
              type="button"
              class="btn btn-success"
              *ngIf="device.type != 'light'"
              (click)="onTempUp(device.id, device)"
            >
              Up Temp
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-arrow-up"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"
                />
              </svg>
            </button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 text-center">
    <button class="btn btn-primary" (click)="onUpdateForAll()">Update For All</button>
  </div>
  <div class="col-md-4"></div>
</div>
<app-set-info (onUpdateDeviceInfo)="onUpdateDeviceInfo($event)"></app-set-info>
<app-view-setting-history [settingHistory]="settingHistory"></app-view-setting-history>
